

#navbar{
	/*background-color: #6F1E51 !important;*/
}

a.navbar-brand{
	margin-left:10px;
	/*color:#C4E538 !important;*/
	/*font-size:25px;*/
  font-weight:800;
	font-family: 'Open Sans', sans-serif;
}

#navbar img{
	max-height: 45px;
}

#navbar a, #navbar a:visited{
	/*color:#C4E538 !important;*/
}

#navbar .navbar-toggler {
    /*color: #C4E538;
    border-color: #C4E538; */
}

/* https://codepen.io/SteveJRobertson/pen/POdvgz */

/* 2do: use container */

.result-list-container .card{
	margin-bottom:15px;
  box-shadow: 0 0 2px rgba(24, 28, 43, 0.2);
  /*border:none;*/
}
.result-list-container .card .card-footer{
  /*border:none;
  background:none;*/
}

.result-list-container .card h4{
	font-size:16px;
}

.result-list-container .card-text{
	font-size:14px;
}

.result-list-container a:visited,.result-list-container a{
	color:#333;
}

/*.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}*/

.thumbnail{
	max-width:200px;
	margin-right:15px;
	margin-bottom: 10px;
}

.lightbox-wrapper{
	float:left;
	margin-top:5px;
}

/* from booksearch example */
/* https://codesandbox.io/s/9167mmkqlo?source=post_page--------------------------- */

.filter {
  background: white;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 2px rgba(24, 28, 43, 0.2);
  color: #181c2b;
}

.filters-container {
  /*display: flex;
  flex-direction: column;
  width: 25%;*/
  padding: 10px;
}

/* 2DO: change to mint green*/
.filter input:checked + label::before {
    /*border-color: #6F1E51;*/
    background-color: rgb(120, 194, 173);
}

.result-list-container {
  margin: 10px;
  padding: 10px;
}
